# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# more
NOTES.txt
TODO.txt
doc/*
scripts/install.sh
scripts/upload2vm.sh
scripts/dev.sh
scripts/merge_branches.sh
scripts/pull_all.sh
scripts/mypings.sh
scripts/flush.sh
scripts/performance_test.sh
scripts/pings.sh
scripts/simple_tracebox.py
scripts/debug/
scripts/performance/
mmb-plugin/mmb/NOTES.txt.c
lib/*
docs/user-guide.tex
docs/*aux
docs/*log
docs/*toc







